@import url("https://fonts.googleapis.com/css?family=Ubuntu|Pacifico");

* {
  font-family: '나눔고딕';
  font-family: 'Ubuntu', sans-serif;
}

header .title{
 
  text-align:center; 
  vertical-align:middle;

}

header .title .titleName {
   font-family: 'Pacifico', cursive;
  font-size: 2.3em;
  position: relative;
  box-sizing: border-box;
  display:inline-block;
}

header .btn-bar {
  text-align:center; 
  vertical-align:middle;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
  position: relative;
  box-sizing: border-box;
  width: 30%;

}
.writeform .titletag {
  text-align:center; 
  vertical-align:middle;
}

content p {
  margin:2px;
  margin-bottom: 0;
  text-align:center;
  vertical-align:middle;
}

hr {
  margin: 1px;
}

@media ( min-width: 481px ){
  header {
    width: 30%;
    height: 1000px;
    float: left;
    margin-bottom: -1px;
  }

  #btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
}